body,html {
    color: white;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background-image: url(./component/futbol-area.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
