body,html {
    color: white;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background-image: url(https://i.pinimg.com/originals/d8/f9/09/d8f90978846b8aad6ed61219f90dee33.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
